body {
	margin: 0;
}
	/*z-index: -1; /* force behind svg*/
/*

div#graphDebug {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events:none;
	color: orange;
	font-family: monospace;
	overflow: auto;
	padding: 1ex;
}
*/
