body {
	margin: 0;
	font-family: monospace;
}

.xflexparent {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#xgraph {
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
}

svg#svggraph {
	height: 100% !important;
}

#xsidepanel {
	order: 2;
	flex-basis: 300px;
	overflow: auto;
}
#sidepanel {
	position: absolute;
	top: 0;
	right: 0;
	overflow: auto;
	width: 300px;
	background: rgba(256,256,256,.6) ;
	padding: 1ex;
}


div#graphDebug {
	/*z-index: -1; /* force behind svg*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events:none;
	color: orange;
	overflow: auto;
	padding: 1ex;
}

div#graphHelpFrame {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events:none;
	background: url('cheatsheet.svg') no-repeat top left;
	background-size: contain;
	background-position: 50% 50%;
	background-color: rgba(256, 256, 256, .8);
/*
	mix-blend-mode: hue;
*/
}

div#upload_div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}
